@import './cmps/app-header.css';
@import './cmps/app-footer.css';
@import './cmps/todo-preview.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}