@import './cmps/app-header.css';
@import './cmps/app-footer.css';
@import './cmps/todo-preview.css';
@import './cmps/todo-list.css';
@import './cmps/todo-edit.css';
@import './pages/user-profile.css';
@import './pages/todo-app.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.alert {
  color: white;
  padding: 10px;
  font-size: 1.4em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: grey;
}

.alert-success {
  background-color: rgb(15, 122, 15);
}

.alert-danger {
  background-color: rgb(122, 11, 11);
}